openapi: 3.1.0
info:
  title: Seismic Analytics Content Analytics Content Profiles API
  description: API for accessing analytics and reporting data on content usage, user engagement, and sales effectiveness within the Seismic platform. Provides insights into how content is being used, which materials are most effective, and how teams are engaging with sales enablement resources.
  version: 2.0.0
  termsOfService: https://seismic.com/terms-of-service/
  contact:
    name: Seismic Support
    url: https://seismic.com/support/
    email: support@seismic.com
  license:
    name: Proprietary
    url: https://seismic.com/terms-of-service/
servers:
- url: https://api.seismic.com/integration/v2
  description: Seismic API v2 Production
security:
- bearerAuth: []
tags:
- name: Content Profiles
  description: Operations for managing content profiles that define content configurations.
paths:
  /content-profiles:
    get:
      operationId: listContentProfiles
      summary: List Content Profiles
      description: Retrieves a list of content profiles that define content type configurations in the Seismic platform.
      tags:
      - Content Profiles
      parameters:
      - name: offset
        in: query
        description: Number of items to skip for pagination.
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Maximum number of items to return.
        schema:
          type: integer
          default: 25
          maximum: 100
      responses:
        '200':
          description: A list of content profiles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentProfile'
                  totalCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /content-profiles/{profileId}:
    get:
      operationId: getContentProfile
      summary: Get a Content Profile
      description: Retrieves a specific content profile by its ID.
      tags:
      - Content Profiles
      parameters:
      - name: profileId
        in: path
        required: true
        description: Unique identifier of the content profile.
        schema:
          type: string
      responses:
        '200':
          description: Content profile details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Forbidden:
      description: Forbidden. The authenticated user does not have permission to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests. Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          description: Number of seconds to wait before making another request.
          schema:
            type: integer
    Unauthorized:
      description: Unauthorized. Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found. The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ContentProfile:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the content profile.
        name:
          type: string
          description: Name of the content profile.
        description:
          type: string
          description: Description of the content profile.
        allowedFileTypes:
          type: array
          items:
            type: string
          description: List of allowed file type extensions.
        properties:
          type: array
          items:
            type: string
          description: IDs of content properties associated with this profile.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the profile was created.
        modifiedAt:
          type: string
          format: date-time
          description: Timestamp when the profile was last modified.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Human-readable error message.
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer Token. Obtain tokens through the Seismic authentication flow. See https://developer.seismic.com/seismicsoftware/docs/authentication
