openapi: 3.1.0
info:
  title: Seismic Analytics Content Analytics LiveDocs API
  description: API for accessing analytics and reporting data on content usage, user engagement, and sales effectiveness within the Seismic platform. Provides insights into how content is being used, which materials are most effective, and how teams are engaging with sales enablement resources.
  version: 2.0.0
  termsOfService: https://seismic.com/terms-of-service/
  contact:
    name: Seismic Support
    url: https://seismic.com/support/
    email: support@seismic.com
  license:
    name: Proprietary
    url: https://seismic.com/terms-of-service/
servers:
- url: https://api.seismic.com/integration/v2
  description: Seismic API v2 Production
security:
- bearerAuth: []
tags:
- name: LiveDocs
  description: Operations for generating and managing LiveDoc documents.
paths:
  /livedocs/generate:
    post:
      operationId: generateLiveDoc
      summary: Generate a Livedoc
      description: Generates a new LiveDoc document by merging data into a specified template. The generation can be synchronous for small documents or asynchronous for larger ones.
      tags:
      - LiveDocs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - templateId
              properties:
                templateId:
                  type: string
                  description: ID of the LiveDoc template to use for generation.
                name:
                  type: string
                  description: Name for the generated document.
                outputFormat:
                  type: string
                  description: Desired output format for the generated document.
                  enum:
                  - pptx
                  - pdf
                  - docx
                  - xlsx
                inputs:
                  type: object
                  description: Key-value pairs of input data to merge into the template. Keys correspond to template field names.
                  additionalProperties: true
                dataSourceId:
                  type: string
                  description: ID of the data source to pull merge data from.
                recordId:
                  type: string
                  description: ID of the record in the data source to use for merge data (e.g., a Salesforce opportunity ID).
                folderId:
                  type: string
                  description: ID of the folder to save the generated document in.
                async:
                  type: boolean
                  description: Whether to generate the document asynchronously. Large documents should use async generation.
                  default: false
      responses:
        '200':
          description: LiveDoc generated successfully (synchronous).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveDocResult'
        '202':
          description: LiveDoc generation job accepted (asynchronous).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    Forbidden:
      description: Forbidden. The authenticated user does not have permission to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests. Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        Retry-After:
          description: Number of seconds to wait before making another request.
          schema:
            type: integer
    Unauthorized:
      description: Unauthorized. Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request. The request was invalid or cannot be processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found. The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LiveDocResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the generated document.
        name:
          type: string
          description: Name of the generated document.
        templateId:
          type: string
          description: ID of the template used for generation.
        contentId:
          type: string
          description: ID of the content item created in Seismic.
        outputFormat:
          type: string
          description: Format of the generated document.
          enum:
          - pptx
          - pdf
          - docx
          - xlsx
        downloadUrl:
          type: string
          format: uri
          description: URL to download the generated document.
        folderId:
          type: string
          description: ID of the folder where the document was saved.
        createdBy:
          type: string
          description: ID of the user who initiated the generation.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the document was generated.
    GenerationJob:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the generation job.
        templateId:
          type: string
          description: ID of the template being used.
        status:
          type: string
          description: Current status of the generation job.
          enum:
          - pending
          - processing
          - completed
          - failed
        progress:
          type: integer
          description: Progress percentage (0-100).
          minimum: 0
          maximum: 100
        result:
          $ref: '#/components/schemas/LiveDocResult'
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          description: Error details if the job failed.
        createdBy:
          type: string
          description: ID of the user who initiated the job.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the job was created.
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the job completed or failed.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
            message:
              type: string
              description: Human-readable error message.
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer Token. Obtain tokens through the Seismic authentication flow. See https://developer.seismic.com/seismicsoftware/docs/authentication
